body {
    margin: 20 auto;
    text-align: center;
}

.back {
    border: 1px solid aqua;
}

header {
    background-color: aqua;
}

h1 {
    color: white;
}

footer {
    background-color: aqua;
}

small {
    color: white;
}